PORT=3005

DB_HOST=127.0.0.1
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ecommerce

REDIS_HOST=127.0.0.1
REDIS_PORT=6380

RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

JWT_ACCESS_SECRET=your-access-secret-change-me-in-production
JWT_REFRESH_SECRET=your-refresh-secret-change-me-in-production

LOG_LEVEL=debug
# In production LOG_LEVEL=info or LOG_LEVEL=warn

CORS_ORIGIN=http://localhost:3000,http://localhost:5173,https://myapp.com